<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Komek.kz</title>
    {% load static %}
    <!-- ICONSCOUT CDN -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

    <!-- GOOGLE FONTS (MONTSERRAT) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">


    <!-- SWIPER JS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />


    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">

    <style>
        body { background-image: url("{% static 'images/bg-texture.png' %}") }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <header>
        <div class="container header__container">
            <div>
                <h1 style="font-size: 100px;"> Find your destination now. </h1>
            </div>
        </div>
    </header>

    <div class="quiz-main">
        <form>
            
        </form>
    </div>

    {% include 'footer.html' %}
      <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
      <script src="{% static 'js/main.js' %}"></script>

</body>
</html>